$color-accent: #f8b900;
$color-text: #303030;
$color-danger: #ff5e7b;
$color-darkest: #101010;
$color-dark-gray: #141414;
$color-gray: #303030;
$color-medium-gray: #a0a0a0;
$color-medium-dark-gray: #5d5d5d;
$color-light-gray: #d7d7d7;